.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .socialButtons{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
 }
 button.social{
   width: 3rem;
   height: 3rem;
   border-radius: 1.5rem;
   background-color: aqua;
   border: none;
 }
 
 .wrapper label,
 .wrapper input {
    display: block;
 }
 
 #login {
    margin-top: 1rem;
 }
 
 .authField {
    padding: 6.5px;
    width: 100%;
 }
 
 .inputerr{
    padding: 6.5px;
    width: 100%;
    border: 1px solid red;
 }
 
 .submit {
    margin: 0.5rem 0;
 }
 
 .field {
    font-style: italic;
    opacity: 0.5;
 }
 
 .field a {
    opacity: 1;
    font-weight: bold;
    color: red;
 }
 